div{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: linear;
}
div:hover{
    width:400px;
    margin-left: 100px;
}