* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 300px;
    border: 1px solid;
}

.row {
    width: 100%;
    height: inherit;
    margin: auto;
    border: 1px solid black;
    background-color: rgb(85, 12, 24);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 200px);
    justify-content: center;
    align-items: center;
}

.column {
    width: 80%;
    height: 380px;
    border: 1px solid black;
    box-shadow: 3px 2px 2px 2px gray;
}