*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    border: 1px solid;
    display:flex;
}
.logo{
    width: 10%;
    height: inherit;
    background-color: lightcoral;
}
nav{
    width: 90%;
    height: inherit;
    background-color: burlywood;
}
main{
    width: 100%;
    height: inherit;
    background-color: bisque;
}
section{
    width: 100%;
    
}